.blockthree {
    width: 100%;
    min-height: 500px;
    background-color: white;
    padding: 120px 0px 0px 155px;
    display: flex;
    gap: 175px;


    &__title {
        color: rgb(31, 31, 31);
        font-family: 'fraunchesr';
        font-size: 42px;
        font-weight: 400;
        line-height: 50.4px;
    }

    &__flexcont {
        max-width: 700px;
        min-height: 218px;
        display: flex;
        gap: 40px;
        justify-content: center;
        padding-top: 3%;

    }

    &__flexel {
        max-width: 222.66px;
        min-height: 218px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        &:nth-child(3) {
            margin-top: -1.5%;
        }

    }

    &__flexel svg {
        padding-left: 10px;
        width: 45px;
        height: 45px;
    }
    
    &__flexel .blockthree__flexelbigsvg{
        width: 55px;
        height: 55px;
        transform: translate(0px, 15%);
    }

    &__flexeltitle {
        color: rgb(31, 31, 31);
        font-family: 'fraunchesr';
        font-size: 25px;
        font-weight: 400;
        line-height: 31.25px;
    }

    &__flexeltext {
        color: rgb(31, 31, 31);
        font-family: 'interr';
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
    }


}