*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    vertical-align: top;
}

@font-face {
   font-family: 'fraunchesr';
   src: url('../fonts/fraucnhesr.woff2') format('wofft2'),
        url('../fonts/fraunchesr.woff') format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'interr';
   src: url('../fonts/interr.woff2') format('wofft2'),
        url('../fonts/interr.woff') format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

:focus {
    outline: none;
}



// ///////////////////////////////////////////////////////

html {
    scroll-behavior: smooth;
}

body {

        --s: 176px; /* control the size*/
        --c1: #ffffff;
        --c2: #1095c1;
        
        --_g: #0000 8%,var(--c1) 0 17%,#0000 0 58%;
        background: 
          linear-gradient(135deg,#0000 20.5%,var(--c1) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
          linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
          linear-gradient(135deg,var(--_g),var(--c1) 0 67%,#0000 0),        
          linear-gradient( 45deg,var(--_g),var(--c1) 0 67%,#0000 0 83%,var(--c1) 0 92%,#0000 0),
          var(--c2); 
        background-size: var(--s) var(--s);
}


.page {
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
    // background-color: lightblue;
}